@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title Us.</h2>

    

    <p>Email: <a href="mailto:kumarvipin897946@gmail.com">kumarvipin897946@gmail.com</a></p>
    <p>Phone N0: <a href="tel:+918979468090">91 8979468090</a></p>


</main>