@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <table align="center"border="1"width="100%" class="accordion-body">
        <tr style=" margin:20px">
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
           
        </tr>
       <tr style=" margin:20px">
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
           
        </tr>
       <tr style=" margin:20px">
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
            <td><img src="~/Images/Logo.png" width="300"height="300"/></td>
           
        </tr>
       
    </table>
   
</main>